test/length/input/AS-HOR-vs-chm13_cens_v18.stv_row.all.bed filter=lfs diff=lfs merge=lfs -text
test/status/input/chr9_cens_partials.png filter=lfs diff=lfs merge=lfs -text
test/status/input/chr21_cens_false_neg_mismap.fa.out filter=lfs diff=lfs merge=lfs -text
test/status/input/chr21_chr13_cens_mismap.fa.out filter=lfs diff=lfs merge=lfs -text
test/status/input/chr22_cens.png filter=lfs diff=lfs merge=lfs -text
test/status/input/chr4_cens_partials.fa.out filter=lfs diff=lfs merge=lfs -text
test/status/input/chr4_cens_partials.png filter=lfs diff=lfs merge=lfs -text
test/status/input/chr21_cens_false_neg_mismap.png filter=lfs diff=lfs merge=lfs -text
test/status/input/chr21_cens.fa.out filter=lfs diff=lfs merge=lfs -text
test/status/input/chr22_cens.fa.out filter=lfs diff=lfs merge=lfs -text
test/status/input/chr21_chr13_cens_mismap.png filter=lfs diff=lfs merge=lfs -text
test/status/input/chr9_cens_partials.fa.out filter=lfs diff=lfs merge=lfs -text
test/status/input/chm13_chm1_cens_v21.trimmed.fa.noheader.out filter=lfs diff=lfs merge=lfs -text
test/status/input/chm13_chm1_cens_v21.trimmed.fa.noheader.out.png filter=lfs diff=lfs merge=lfs -text
test/status/input/chr21_cens.png filter=lfs diff=lfs merge=lfs -text
test/nonredundant/expected/unaccounted_left.tsv filter=lfs diff=lfs merge=lfs -text
test/nonredundant/expected/uniq_left.tsv filter=lfs diff=lfs merge=lfs -text
test/nonredundant/expected/uniq_right.tsv filter=lfs diff=lfs merge=lfs -text
test/nonredundant/input/hifiasm_all_AS-HOR_lengths.tsv filter=lfs diff=lfs merge=lfs -text
test/nonredundant/expected/both.tsv filter=lfs diff=lfs merge=lfs -text
test/nonredundant/expected/dupes_right.tsv filter=lfs diff=lfs merge=lfs -text
test/nonredundant/input/verkko_all_AS-HOR_lengths.tsv filter=lfs diff=lfs merge=lfs -text
test/nonredundant/expected/dupes_left.tsv filter=lfs diff=lfs merge=lfs -text
test/nonredundant/expected/unaccounted_right.tsv filter=lfs diff=lfs merge=lfs -text
