test/status/input/chr9_cens_partials.png filter=lfs diff=lfs merge=lfs -text
test/status/input/chr21_cens_false_neg_mismap.fa.out filter=lfs diff=lfs merge=lfs -text
test/status/input/chr21_chr13_cens_mismap.fa.out filter=lfs diff=lfs merge=lfs -text
test/status/input/chr22_cens.png filter=lfs diff=lfs merge=lfs -text
test/status/input/chr4_cens_partials.fa.out filter=lfs diff=lfs merge=lfs -text
test/status/input/chr4_cens_partials.png filter=lfs diff=lfs merge=lfs -text
test/status/input/chr21_cens_false_neg_mismap.png filter=lfs diff=lfs merge=lfs -text
test/status/input/chr21_cens.fa.out filter=lfs diff=lfs merge=lfs -text
test/status/input/chr22_cens.fa.out filter=lfs diff=lfs merge=lfs -text
test/status/input/chr21_chr13_cens_mismap.png filter=lfs diff=lfs merge=lfs -text
test/status/input/chr9_cens_partials.fa.out filter=lfs diff=lfs merge=lfs -text
test/status/input/chm13_chm1_cens_v21.trimmed.fa.noheader.out filter=lfs diff=lfs merge=lfs -text
test/status/input/chm13_chm1_cens_v21.trimmed.fa.noheader.out.png filter=lfs diff=lfs merge=lfs -text
test/status/input/chr21_cens.png filter=lfs diff=lfs merge=lfs -text
test/nonredundant/expected/unaccounted_left.tsv filter=lfs diff=lfs merge=lfs -text
test/nonredundant/expected/uniq_left.tsv filter=lfs diff=lfs merge=lfs -text
test/nonredundant/expected/uniq_right.tsv filter=lfs diff=lfs merge=lfs -text
test/nonredundant/input/hifiasm_all_AS-HOR_lengths.tsv filter=lfs diff=lfs merge=lfs -text
test/nonredundant/expected/both.tsv filter=lfs diff=lfs merge=lfs -text
test/nonredundant/expected/dupes_right.tsv filter=lfs diff=lfs merge=lfs -text
test/nonredundant/input/verkko_all_AS-HOR_lengths.tsv filter=lfs diff=lfs merge=lfs -text
test/nonredundant/expected/dupes_left.tsv filter=lfs diff=lfs merge=lfs -text
test/nonredundant/expected/unaccounted_right.tsv filter=lfs diff=lfs merge=lfs -text
test/entropy/input/HG00096_rm.bed filter=lfs diff=lfs merge=lfs -text
test/entropy/expected/haplotype1-0000001_expected.bed filter=lfs diff=lfs merge=lfs -text
test/self_ident/input/chm13_chr1.fa.fai filter=lfs diff=lfs merge=lfs -text
test/self_ident/input/chm13_chr1.fa filter=lfs diff=lfs merge=lfs -text
test/self_ident/expected/1D/chr1:121119252-127324151_expected.bed filter=lfs diff=lfs merge=lfs -text
test/self_ident/expected/2D/chr1:121119252-127324151_expected.bed filter=lfs diff=lfs merge=lfs -text
test/length/input/AS-HOR-vs-chm13_cens_v18.stv_row.all.bed filter=lfs diff=lfs merge=lfs -text
test/length/input/HG03520_chr10_haplotype2-0000161:38555523-44048872.bed filter=lfs diff=lfs merge=lfs -text
test/length/input/NA19036_chr4_haplotype2-0000075:49294287-52381925.bed filter=lfs diff=lfs merge=lfs -text
test/length/input/NA19036_chr4_haplotype2-0000075:49294287-52381925.out filter=lfs diff=lfs merge=lfs -text
test/length/input/NA19331_chr2_haplotype2-0000182:91704425-96165312.bed filter=lfs diff=lfs merge=lfs -text
test/length/input/NA19331_chr2_haplotype2-0000182:91704425-96165312.out filter=lfs diff=lfs merge=lfs -text
test/length/expected/AS-HOR-vs-chm13_cens_v18.stv_row.all.bed filter=lfs diff=lfs merge=lfs -text
test/length/expected/AS-HOR-vs-chm13_cens_v18.stv_row.all.strand.bed filter=lfs diff=lfs merge=lfs -text
test/length/expected/HG03520_chr10_haplotype2-0000161:38555523-44048872.bed filter=lfs diff=lfs merge=lfs -text
test/length/expected/NA19036_chr4_haplotype2-0000075:49294287-52381925.bed filter=lfs diff=lfs merge=lfs -text
test/length/expected/NA19036_chr4_haplotype2-0000075:49294287-52381925_strand.bed filter=lfs diff=lfs merge=lfs -text
test/length/expected/NA19036_chr4_haplotype2-0000075:49294287-52381925_incorrect.bed filter=lfs diff=lfs merge=lfs -text
test/length/expected/NA19331_chr2_haplotype2-0000182:91704425-96165312.bed filter=lfs diff=lfs merge=lfs -text
test/length/expected/NA19331_chr2_haplotype2-0000182:91704425-96165312_strand.bed filter=lfs diff=lfs merge=lfs -text
